{% load i18n %}
{% load static %}
<li class="nav-item" style="cursor: pointer">
    <a class="nav-link" onclick="switch_theme(this)"><i class="bi bi-brightness-high"></i> {% translate 'Switch mode' %}</a>
</li>
<script>
    let theme = '{{ theme }}'
    const trans_text_theme = {dark: 'white', light: 'black'}
    const trans_switch_theme = {dark: 'light', light: 'dark'}
    const trans_switch_theme_logo = {dark: "{% static 'img/logo-light.png' %}", light: "{% static 'img/logo-dark.png' %}"}
    function switch_elements(text, dark_text='dark', light_text='light') {
        let dark = $(`.${text}-${dark_text}`)
        let light = $(`.${text}-${light_text}`)
        dark.toggleClass(`${text}-${light_text} ${text}-${dark_text}`)
        light.toggleClass(`${text}-${light_text} ${text}-${dark_text}`)
    }
    function switch_theme(link) {
        switch_elements('bg')
        switch_elements('border')
        switch_elements('navbar')
        switch_elements('dropdown-menu')
        switch_elements('table')
        switch_elements('text', 'white', 'black')
        switch_elements('list-group-item')
        switch_elements('btn')
        $('body').toggleClass('light dark')
        $(`img[src*=${theme}]`).attr('src', trans_switch_theme_logo[theme])
        theme = trans_switch_theme[theme]
        setCookie('theme', theme, 1000)
    }
    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
</script>
