{% extends 'base.html' %}
{% load i18n %}
{% load util %}
{% load static %}
{% block subtitle %}{% translate 'Home' %}{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'lib/QRCode/qrcode.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div>
        <h1 style="text-align: center">{% translate 'Home' %}</h1>
        <p>{% blocktrans %}This is the main application of {{ app_hack }}. From here you can apply as all the possible roles and participate to {{ app_hack }}.{% endblocktrans %}</p>
        {% if user_applications %}
            {% include 'application_home/user_applications.html' %}
        {% endif %}
        {% if apply_types and not user_applications_grouped|get_item:'C' and not user_applications_grouped|get_item:'A' %}
            {% include 'application_home/apply.html' %}
        {% endif %}

    </div>
{% endblock %}
