{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load perms %}
{% block subtitle %}{% if edit %}{% blocktrans %}{{ full_name }}'s {{ application_type }} application{% endblocktrans %}{% else %}{% blocktrans %}Applying as {{ application_type }}{% endblocktrans %}{% endif %}{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="row justify-content-between mb-3">
            <div class="col-12 col-lg-2 d-grid d-md-block">
                <a href="{% if request.user.is_organizer and edit %}{% url 'application_detail' application_form.instance.get_uuid %}{% else %}{% url 'apply_home' %}{% endif %}" class="btn btn-secondary col-12"><i class="bi bi-caret-left-fill"></i> {% trans 'Back' %}</a>
            </div>
        </div>
    {% endif %}
    <h1 style="text-align: center">{% if edit %}{% blocktrans %}{{ full_name }}'s {{ application_type }} application{% endblocktrans %}{% else %}{% blocktrans %}Applying as {{ application_type }}{% endblocktrans %}{% endif %}</h1>
    {% if edit %}
        <div class="list-group rounded-3" style="margin-bottom: 10px; padding: calc(var(--bs-gutter-x) * .5);">
            <div class="list-group-item list-group-item-{% if request.user.is_organizer %}{{ application_form.instance.get_status_color|default:theme }}{% else %}{{ application_form.instance.get_public_status_color|default:theme }}{% endif %}" style="text-align: center">
                <h3 class="mb-1">{% if request.user.is_organizer %}{{ application_form.instance.get_status_display }}{% else %}{{ application_form.instance.get_public_status_display }}{% endif %}</h3>
                <p>
                    {{ application_form.instance.get_public_status_description }}
                </p>
            </div>
        </div>
    {% endif %}

    {% if edit or application_type.active %}
        {% if not edit %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ application_type.name }} {% translate 'applications are open. Hurry, they will close in' %} {{ application_type.time_left }}.
            </div>
            {% if request.user.is_authenticated %}
                <script>
                    $(document).ready(() => {
                        let timer
                        let clear_timer
                        let timeout = 5000; // Timout duration
                        $('input,textarea,select').bind('change keyup', function () {
                            if (timer) {
                                clearTimeout(timer);
                            }
                            timer = setTimeout(saveData, timeout);
                        });

                        // Save data
                        function saveData() {
                            if (clear_timer) {
                                clearTimeout(clear_timer);
                            }
                            $('.saved-string').html('Saving...');
                            let form_obj = {};
                            let form_array = $('form').serializeArray();
                            $.each(form_array, function () {
                                if (form_obj[this.name]) {
                                    if (!form_obj[this.name].push) {
                                        form_obj[this.name] = [form_obj[this.name]];
                                    }
                                    form_obj[this.name].push(this.value || '');
                                } else {
                                    form_obj[this.name] = this.value || '';
                                }
                            });

                            form_obj['csrfmiddlewaretoken'] = '{{ csrf_token }}'

                            // AJAX request
                            $.ajax({
                                url: '{% url 'save_draft' %}',
                                type: 'post',
                                data: form_obj,
                                success: function () {
                                    ToastManager.info('Saved!', timeout)
                                }
                            });
                    }
                    })
                </script>
            {% endif %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% if not request.user.is_authenticated %}
                <p><i class="bi bi-exclamation-triangle-fill text-warning"></i> {% translate 'If you already have a user on this app, ' %}<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">log in first</a></p>
            {% endif %}
            {% csrf_token %}
            {% include 'components/bootstrap5_form.html' with form=user_form only_errors=True %}
            {% include 'components/bootstrap5_form.html' with form=application_form only_errors=True %}
            {% include 'components/bootstrap5_form.html' with form=recaptcha_form only_errors=True %}
            {% include 'components/bootstrap5_form.html' with form=user_form only_form=True %}
            {% include 'components/bootstrap5_form.html' with form=application_form only_form=True %}
            {% for field in recaptcha_form %}
                <div class="text-center mb-1">
                    {{ field }}
                </div>
            {% endfor %}

            <div class="row justify-content-around">
                {% if edit and not request.user.is_organizer %}
                    <div class="col-12 col-lg-6 d-grid d-md-block">
                        <a href="{% url 'change_status_application' application_form.instance.get_uuid application_form.instance.STATUS_CANCELLED %}" onclick="return confirm('{% trans "Did you changed your mind? Are you sure you want to cancel this application?" %}')" class="btn btn-danger col-12">{% trans 'Cancel my application' %}</a>
                    </div>
                {% endif %}
                {% if not application_form.is_read_only %}
                    <div class="col-12 col-lg-6 d-grid d-md-block mt-2 mt-lg-0">
                        <button type="submit" {% if edit and request.user.is_organizer %}onclick="return confirm_edit()"{% endif %} class="btn btn-primary col-12">{% if edit %}{% trans 'Save' %}{% else %}{% trans 'Apply' %}{% endif %}</button>
                    </div>
                {% endif %}
                {% if application_form.instance and application_form.instance.invited and not request.user.is_organizer %}
                    <div class="col-12 col-lg-6 d-grid d-md-block mt-2 mt-lg-0">
                        <a href="{% url 'change_status_application' application_form.instance.get_uuid application_form.instance.STATUS_CONFIRMED %}" onclick="return confirm('{% blocktrans %}Your {{ application_type }} invitation will be confirmed. This means that all your other applications will be cancelled. Are you sure you want to confirm this one?{% endblocktrans %}')" class="btn btn-success col-12">{% trans 'Confirm invitation' %}</a>
                    </div>
                {% endif %}
            </div>
            {% if request.user.is_organizer %}
                <input style="display: none" id="comment_applicationlog_input" name="comment_applicationlog" value="">
                <script nonce="{{ request.csp_nonce }}">
                    function confirm_edit() {
                        let comment = prompt('{% translate 'Add a comment on the reason of your change (optional)' %}')
                        if (comment === null) return false
                        $('#comment_applicationlog_input').val(comment)
                        return true
                    }
                </script>
            {% endif %}
        </form>

    {% else %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ application_type.name }} {% translate 'applications are closed.' %} {% if application_type.closed %}{% translate 'Hope to see you next year!' %}{% else %}{% translate 'Applications will open in' %} {{ application_type.time_left }}{% endif %}
        </div>

    {% endif %}


{% endblock %}
