{% extends 'base.html' %}
{% load i18n %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.10.377/build/pdf.min.js"></script>
{% endblock %}
{% block subtitle %}{{ application.get_full_name }} {{ field_name }}{% endblock %}
{% block content %}
    <div id="content-pdf" style="width: 100%; text-align: center">

        <h1>{{ application.get_full_name }} {{ field_name }}</h1>

        {% include 'components/pdf_preview.html' with pdf_link=download pdf_close=True %}

    </div>

{% endblock %}
