{% extends 'base.html' %}
{% load i18n %}
{% block subtitle %}{{ auth|title }}{% endblock %}
{% block container %}
    <div class="row justify-content-md-center" style="margin: 0">
        <div class="col-lg-4" style="margin: 40px 10px;">
            {% if tabs %}
                {% include 'components/tabs.html' %}
            {% endif %}
            <div class="bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}">
                {% if not blocked_message %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="content p-4">
                            {% include 'components/bootstrap5_form.html' %}
                            {% if auth == 'register' %}
                                {% if captcha_site_key %}
                                    <script src='https://www.google.com/recaptcha/api.js'></script>
                                    <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
                                {% endif %}
                            {% else %}
                                <p><a class="text-{% if theme == 'dark' %}white{% else %}black{% endif %}" style="text-decoration: none" href="{% url 'forgot_password' %}">{% translate 'Forgot your password?' %}</a></p>
                            {% endif %}
                            <div class="row justify-content-around">
                                <div class="col-12 col-lg-6 d-grid d-md-block">
                                    <button type="submit" class="btn btn-primary col-12">{{ auth|title }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="p-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ blocked_message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
