{% extends "base.html" %}

{% load i18n %}
{% block subtitle %}{% trans "Forgot password" %}{% endblock %}

{% block container %}
    <div class="row justify-content-md-center" style="margin: 0">
        <div class="col-lg-4 mb-4 mt-4">
            <div class="bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}">
                <div class="content p-4">
                    {% if success %}
                        <h1>{% translate 'Password reset complete' %}</h1>

                        <p>
                            {% blocktrans %}
                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                You should receive them shortly.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                                If you don't receive an email, please make sure you've entered the address you registered with,
                                and check your spam folder.
                            {% endblocktrans %}
                        </p>
                    {% else %}
                        <div class="row justify-content-between mb-3">
                            <div class="col-12 col-lg-4 d-grid d-md-block">
                                <a href="{% url 'login' %}" class="btn btn-secondary col-12"><i class="bi bi-caret-left-fill"></i> {% trans 'Back' %}</a>
                            </div>
                        </div>
                        <h1>{% translate 'Forgot password' %}</h1>

                        <form method="post">
                            {% csrf_token %}
                            {% include 'components/bootstrap5_form.html' %}
                            <div class="row justify-content-around">
                                <div class="col-12 col-lg-6 d-grid d-md-block">
                                    <button class="btn btn-primary col-12" type="submit">{% trans "Reset password" %}</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
