{% extends "base.html" %}

{% load i18n %}
{% block subtitle %}{% trans "Forgot password" %}{% endblock %}

{% block container %}
    <div class="row justify-content-md-center" style="margin: 0">
        <div class="col-lg-4" style="margin: 40px 10px;">
            <div class="bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}">
                <div class="content" style="padding: 20px">
                    {% if success %}
                        <h1>{% translate 'Password reset complete' %}</h1>

                        <p>
                            {% blocktrans %}
                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                You should receive them shortly.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                                If you don't receive an email, please make sure you've entered the address you registered with,
                                and check your spam folder.
                            {% endblocktrans %}
                        </p>
                    {% else %}
                        <h1>{% translate 'Forgot password' %}</h1>

                        <form method="post">
                            {% csrf_token %}
                            {% include 'components/bootstrap5_form.html' %}

                            <div class="d-grid col-6 mx-auto">
                                <button class="btn btn-primary" type="submit">{% trans "Reset password" %}</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
