{% extends 'base.html' %}
{% load i18n %}
{% block container %}
    <div class="row justify-content-md-center" style="margin: 0">
        <div class="col-lg-4" style="margin: 40px 10px;">
            <div class="bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}">
                <div class="content" style="padding: 20px">
                    <h1 style="text-align: center">{% translate 'Email not verified' %}</h1>
                    <p>
                        {% translate 'Your account is not verified. Check your email to verify it.' %}
                        <strong>{% translate 'Be aware that the email could be on your SPAM folder.' %}</strong>
                    </p>
                    <form method="post" class="d-grid col-6 mx-auto">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">{% translate 'Send another verification email' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function delete_user() {
            if ($('#delete-user-input').val() === '{{ request.user.email }}') {
                $('#profile-form').submit()
            }
        }
    </script>
{% endblock %}
