{% extends "base.html" %}

{% load i18n %}
{% block subtitle %}{% translate "Password reset" %}{% endblock %}

{% block container %}
    <div class="row justify-content-md-center" style="margin: 0">
        <div class="col-lg-4" style="margin: 40px 10px;">
            <div class="bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}">
                <div class="content p-4">
                    {% if success %}
                        <h1>
                            {% if not new %}
                                {% translate 'Password reset complete' %}
                            {% else %}
                                {% translate 'Password complete' %}
                            {% endif %}
                        </h1>

                        <p>
                            {% if not new %}
                                {% translate 'Your password has been set.' %}
                            {% else %}
                                {% translate 'Now you have a user to enter to the app. Verify your email to finish.' %}
                            {% endif %}

                        </p>
                        <div class="d-grid col-6 mx-auto">
                            <a class="btn btn-primary" href="{% url 'login' %}">{% trans "Log in" %}</a>
                        </div>
                    {% elif error %}
                        <h1>
                            {% if not new %}
                                {% translate 'Forgot password' %}
                            {% else %}
                                {% translate 'Set password' %}
                            {% endif %}
                        </h1>
                        <p>{% translate 'Invalid link' %}</p>
                    {% else %}
                        <h1>
                            {% if not new %}
                                {% translate 'Forgot password' %}
                            {% else %}
                                {% translate 'Set password' %}
                            {% endif %}
                        </h1>

                        <form method="post">
                            {% csrf_token %}
                            {% include 'components/bootstrap5_form.html' %}

                            <div class="d-grid col-6 mx-auto">
                                <button class="btn btn-primary" type="submit">
                                        {% translate 'Set new password' %}
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
