{% load i18n %}
{% load util %}
{% with applications_attended=user_applications_grouped|get_item:'A' %}
    {% if applications_attended %}
        <div class="mt-2 rounded-3 p-3 bg-contrast">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h2>Welcome to {{ app_hack }}</h2>
                    <p>{{ applications_attended.0.get_public_status_description }}</p>
                    <p>{% translate 'Checked in as' %} {{ applications_attended|get_type_list|join:', ' }}. {% translate 'You have your QR with you, but if you lose it, you can use this one as well' %}</p>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="d-flex justify-content-center justify-content-lg-end">
                        <div class="p-3 rounded-3" id="qrcode" style="background-color: #ffffff; width: fit-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-{{ theme }} border-1">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% translate 'QR code' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="p-3 rounded-3" id="qrcode-in" style="background-color: #ffffff; width: fit-content; margin: auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <script nonce="{{ request.csp_nonce }}">
            $(document).ready(() => {
                let width = ((window.innerWidth > 0) ? window.innerWidth : screen.width) - 100;
                let inner_qr = undefined;
                $('#qrcode').click(()=> {
                    let modal_div = document.getElementById('exampleModal')
                    let modal = bootstrap.Modal.getOrCreateInstance(modal_div)
                    if (inner_qr === undefined) {
                        inner_qr = new QRCode("qrcode-in", {
                            text: "{{ request.user.qr_code }}",
                            width: Math.min(400, width),
                            height: Math.min(400, width),
                            colorDark : "#000000",
                            colorLight : "#ffffff",
                            correctLevel : QRCode.CorrectLevel.H
                        });
                    }
                    modal.show()
                })
                let qrcode = new QRCode("qrcode", {
                    text: "{{ request.user.qr_code }}",
                    width: Math.min(200, width),
                    height: Math.min(200, width),
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });
            })
        </script>
    {% endif %}
{% endwith %}
{% with applications_confirmed=user_applications_grouped|get_item:'C' %}
    {% if applications_confirmed %}
        {% if request.user.under_age_document_required and permission_slip_action %}
            <div class="mt-2 rounded-3 p-3 bg-contrast">
                <h2 class="text-center">{% translate 'Permission slip required for attendance' %}</h2>
                <p class="text-center">Action needed to attend to the event!</p>
                <div class="row justify-content-around mt-3 mb-3">
                    <div class="col-12 col-lg-6 d-grid d-md-block">
                        <a href="{% url 'permission_slip' applications_confirmed.0.get_uuid %}" class="btn btn-info col-12">{% trans 'Manage my permission slip' %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="mt-2 rounded-3 p-3 bg-contrast">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h2>{% translate 'Confirmed applications:' %} {{ applications_confirmed|get_type_list|join:', ' }}</h2>
                    <p>{{ applications_confirmed.0.get_public_status_description }}</p>
                    <p>{% translate 'Show this QR to the event to speedup the check-in process' %}</p>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="d-flex justify-content-center justify-content-lg-end">
                        <div class="p-3 rounded-3" id="qrcode" style="background-color: #ffffff; width: fit-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <script nonce="{{ request.csp_nonce }}">
            $(document).ready(() => {
                let qrcode = new QRCode("qrcode", {
                    text: "{{ request.user.get_encoded_pk }}",
                    width: 200,
                    height: 200,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });
            })
        </script>
    {% endif %}
{% endwith %}
{% for app in user_applications_grouped|get_item:'default' %}
    {% if request.user.under_age_document_required and permission_slip_action %}
        <div class="mt-2 rounded-3 p-3 bg-contrast">
            <h2 class="text-center">{% translate 'Permission slip required for attendance' %}</h2>
            <p class="text-center">Action needed to attend to the event!</p>
            <div class="row justify-content-around mt-3 mb-3">
                <div class="col-12 col-lg-6 d-grid d-md-block">
                    <a href="{% url 'permission_slip' app.get_uuid %}" class="btn btn-info col-12">{% trans 'Manage my permission slip' %}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="mt-2 rounded-3 p-3 bg-contrast">
        <div class="row">
            <div class="col-12 col-md-9"><h2>{{ app.type.name }} {% translate 'application' %}</h2></div>
            <div class="col-12 col-md-3 text-center text-md-end"><p class="h5 bg-{{ app.get_public_status_color }} p-1 m-0 ms-md-auto mb-2 w-md-fc" style="border-radius: 5px; margin-right: 0">&nbsp{{ app.get_public_status_display }}&nbsp</p></div>
        </div>
        <p>{{ app.get_public_status_description }}</p>
        {% if app.get_public_status == app.STATUS_PENDING or app.get_public_status == app.STATUS_NEEDS_CHANGE %}
            <div class="row justify-content-around mt-3 mb-3">
                <div class="col-lg-6 col-12 d-grid d-md-block">
                    <a href="{% url 'edit_application' app.get_uuid %}" class="btn btn-primary col-12">{% if app.can_edit %}{% translate 'Edit application' %}{% else %}{% translate 'View application' %}{% endif %}</a>
                </div>
            </div>
        {% elif app.get_public_status == app.STATUS_INVITED or app.get_public_status == app.STATUS_LAST_REMINDER %}
            <div class="row justify-content-around mt-3 mb-3">
                <div class="col-12 col-lg-6 d-grid d-md-block">
                    <a href="{% url 'change_status_application' app.get_uuid app.STATUS_CANCELLED %}" onclick="return confirm('{% trans "Did you change your mind? Are you sure you want to cancel this application?" %}')" class="btn btn-danger col-12">{% trans 'Cancel my application' %}</a>
                </div>
                <div class="col-12 col-lg-6 d-grid d-md-block mt-2 mt-lg-0">
                    <a href="{% url 'change_status_application' app.get_uuid app.STATUS_CONFIRMED %}" onclick="return confirm('{% blocktrans %}Your {{ app.type.name }} invitation will be confirmed. This means that all your other applications will be cancelled. Are you sure you want to confirm this one?{% endblocktrans %}')" class="btn btn-success col-12">{% trans 'Confirm invitation' %}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
