{% extends 'mails/base.html' %}
{% block preheader %}Password reset{% endblock %}
{% block content %}
    <p>
        To initiate the password reset process for your {{ user.get_full_name }} {{ app_name }} account,
        click below.
    </p>

    {% include 'mails/components/button.html' with url=url text='Reset password' %}

    <p>Have any other questions? Email us at {{ app_contact|urlize }}.</p>

    <p>We hope to see you at {{ app_hack }}!</p>
    <p>Best regards, {{ app_hack }} Team.</p>

{% endblock %}
