{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block subtitle %}{% translate 'Checkin users' %}{% endblock %}

{% block head %}
    {% include 'components/import_qr_scanner.html' %}
{% endblock %}

{% block content %}

    <div class="row m-0 mt-3">
        <div class="col-lg-9">
            <h1 class="">{% translate 'Checkin users' %}{% if admin %} {% translate 'admin' %}{% endif %}</h1>
        </div>
        {% if request.user.is_staff and not admin %}
            <div class="col-lg-3">
                <a class="btn btn-secondary col-12" href="{% url 'checkin_list_admin' %}">{% translate 'Admin checkin' %}</a>
            </div>
        {% else %}
            <div class="col-lg-3">
                <a class="btn btn-secondary col-12" href="{% url 'checkin_list' %}"><i class="bi bi-caret-left-fill"></i> {% translate 'Back' %}</a>
            </div>
        {% endif %}
    </div>


    <div class="mt-2" style="display: flex">
        <form method="get" id="filter-form" style="width: 100%" class="mr-2">
            {% include 'components/bootstrap5_form.html' with form=filter.form is_filter=True %}
        </form>
        <div class="ms-2">
            <button id="qr_button" class="btn btn-secondary"><i class="bi bi-qr-code-scan"></i></button>
        </div>
    </div>

    {% include 'components/table.html' %}

    <video id="qr-video" style="width: 100%; height: 100%; display: none"></video>

    <script nonce="{{ request.csp_nonce }}">
        $(document).ready(() => {
            let qr_button = $('#qr_button')
            qr_button.css('margin-top', `${$('label[for="id_search"]').outerHeight(true)}px`)

            let scanner = new Scanner('qr-video', (content) => {
                if (content.data) {
                    scanner.stop()
                    window.location.href = '{% url 'checkin_user' 'replace' %}'.replace('replace', content.data)
                }
            }, {
                popup: true,
                popup_title: '{% translate 'QR scanner' %}',
                popup_class: 'bg-{{ theme }}',
            })

            qr_button.on('click', () => {scanner.show()})
        })
    </script>
{% endblock %}
