@font-face {
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNovaRegular.ttf);
}

body {
    background-position: center center;
    background-attachment: fixed;
    font-family: ProximaNovaRegular, 'Roboto', sans-serif;
}

body.dark {
    background-image: linear-gradient(#60288d, #8a69d4);
}

body.light {
    background-image: linear-gradient(#60288d, #8a69d4);
}

.background {

    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat repeat;

    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.dark > .background {
    background-image: url("../img/background-dark.png");
}

.light > .background {
    background-image: url("../img/background-light.png");
}

.content {
    font-size: 15px;
}

footer {
    margin-top: auto;
}

.orderable > a {
    text-decoration: none;
}

.orderable {
    position: relative;
}

.orderable > a:before,
.orderable > a:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 10px;
	top: 50%;
	position: absolute;
	width: 0;
}
.orderable > a:before {
	margin-top: -9px;
    border-bottom-color: currentColor;
}
.orderable > a:after {
	margin-top: 1px;
    border-top-color: currentColor;
}
.orderable.desc > a:before {
	border-bottom-color: transparent;
}
.orderable.asc > a:after {
	border-top-color: transparent;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 992px) { /* Bootstrap lg */
    .border-lg {
        border: 0 !important;
    }
}
