{% extends 'base.html' %}
{% load i18n %}
{% block subtitle %}{% translate "Friends' group" %}{% endblock %}
{% block content %}
    <h1>{% translate "Friends' group" %}</h1>
    <form method="post" id="invite-form">
        {% csrf_token %}
        {% include 'components/bootstrap5_form.html' with form=friends_form %}
        <div class="d-grid gap-2 col-lg-6 mx-auto mt-2">
            <button class="btn btn-primary" name="action" value="join">{% translate 'Join' %}</button>
            <button class="btn btn-secondary" name="action" value="create">{% translate 'Create' %}</button>
        </div>
    </form>
{% endblock %}