{% extends 'mails/base.html' %}
{% block content %}
    <p>
        Hi {{ application.get_full_name }},
    </p>
    <p>
        We are still waiting for your answer! Your {{ application.type.name|lower }} application for {{ app_hack }} has been updated.

        <b>You have 24h to answer, after that, your application will expire.</b>
    </p>
    {% include 'mails/components/button.html' with url=url text='Go to my applications' %}

    <p>Best regards,</p>
    <p>{{ app_hack }} Team.</p>


{% endblock %}
