{% extends 'base.html' %}
{% load i18n %}
{% load perms %}
{% load util %}
{% block subtitle %}{% translate 'Application list' %}{% endblock %}
{% block content %}
    {% if not invite %}
        <div class="row justify-content-between gy-2">
            {% if application_type.vote_enabled and perms|add_type:application_type.name|has_application_perm:'can_review_application' %}
                <div class="col-12 col-lg-2 d-grid d-md-block">
                    <a href="{% url 'application_review' %}?type={{ application_type.name }}" class="btn btn-secondary col-12"><i class="bi bi-journal-check"></i> {% translate 'Review' %}</a>
                </div>
            {% endif %}
            {% if application_type.blocklist and perms|add_type:application_type.name|has_application_perm:'can_review_blocked_application' %}
                <div class="col-6 col-lg-2 d-grid d-md-block">
                    <a href="{% url 'application_list' %}?type={{ application_type.name }}&status={{ Application.STATUS_BLOCKED }}" class="btn btn-danger col-12">{% translate 'Blocked' %} {% if blocked %}<i class="bi bi-patch-exclamation-fill"></i>{% endif %}</a>
                </div>
            {% endif %}
            {% if application_type.dubious_enabled and perms|add_type:application_type.name|has_application_perm:'can_review_dubious_application' %}
                <div class="col-6 col-lg-2 d-grid d-md-block">
                    <a href="{% url 'application_list' %}?type={{ application_type.name }}&status={{ Application.STATUS_DUBIOUS }}&status={{ Application.STATUS_NEEDS_CHANGE }}" class="btn btn-warning col-12">{% translate 'Dubious' %} {% if dubious %}<i class="bi bi-patch-exclamation-fill"></i>{% endif %}</a>
                </div>
            {% endif %}
        </div>
        <div class="row mt-3">
            {% block table_list_title %}
                <div class="col-9">
                    <h1>{% translate 'Application list' %}</h1>
                </div>
                <div class="col-3 text-end">
                    <button type="button" class="btn btn-secondary align-middle" data-bs-toggle="modal" data-bs-target="#urlFormLink"><i class="bi bi-info-circle-fill"></i></button>
                </div>
            {% endblock %}
            <div class="modal fade" id="urlFormLink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-{{ theme }} border-1">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% translate 'Application form link' %}</h5>
                            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input id="url-copy" class="form-control bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}" value="{{ apply_url }}?type={{ application_type.name }}&token={{ application_type.get_token }}"/>
                            <div class="row justify-content-center mt-2">
                                <div class="col-12 col-lg-6 d-grid d-md-block">
                                    <button type="button" class="btn btn-primary col-12" onclick="copyInput('url-copy')">{% translate 'Copy link' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% block invite_list_title %}
            <div class="row justify-content-between gy-2">
                <div class="col-12 col-lg-2 d-grid d-md-block">
                    <a href="{% url 'application_list' %}?type={{ application_type.name }}" class="btn btn-secondary col-12"><i class="bi bi-caret-left-fill"></i> {% translate 'Back' %}</a>
                </div>
            </div>
            <h1 class="mt-3">{% translate 'Invite applications' %}</h1>
        {% endblock %}
    {% endif %}

    {% if application_type %}
        <p class="tw-3">{% if application_type.closed %}{% translate 'Applications closed' %}{% elif application_type.active %}{% translate 'Applications open. Closes in' %} {{ application_type.time_left }}{% else %}{% translate 'Applications closed. Opens in' %} {{ application_type.time_left }}{% endif %}</p>
    {% endif %}

    <form method="get" id="filter-form" class="mt-2">
        {% include 'components/bootstrap5_form.html' with form=filter.form is_filter=True %}
    </form>

    <script nonce="{{ request.csp_nonce }}">
        function copyInput(id) {
              // Get the text field
              let copyText = document.getElementById(id);

              // Select the text field
              copyText.select();
              copyText.setSelectionRange(0, 99999); // For mobile devices

               // Copy the text inside the text field
              navigator.clipboard.writeText(copyText.value);
            }
    </script>

    {% if not invite %}
        {% include 'components/table.html' %}
        <div class="row mt-3 justify-content-center">
            <div class="col-6 col-md-8">
                <input id="emails-copy" class="form-control bg-{{ theme }} text-{% if theme == 'dark' %}white{% else %}black{% endif %}" value="{{ emails|join:', ' }}"/>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <button type="button" class="btn btn-primary col-12" onclick="copyInput('emails-copy')">{% translate 'Copy Emails' %}</button>
            </div>
        </div>
        {% if not application_type.auto_confirm and perms|add_type:application_type.name|has_application_perm:'can_invite_application' %}
            <div class="d-grid gap-2 col-lg-6 mx-auto mt-3">
                <a href="{% url 'application_invite' %}?type={{ application_type.name }}&status={{ Application.STATUS_PENDING }}" class="btn btn-primary">{% translate 'Invite' %}</a>
            </div>
        {% endif %}
    {% else %}
        <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" aria-label="Invited" style="width: {{ application_stats.accepted|percent:application_type.spots }}%">{{ application_stats.accepted }} accepted</div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-label="Invited" style="width: {{ application_stats.invited|percent:application_type.spots }}%">{{ application_stats.invited }} invited</div>
            <div id="progress-select" class="progress-bar bg-info" style="width: 0%" role="progressbar" aria-label="Selected">0 selected</div>
        </div>
        <form method="post" id="invite-form">
            {% csrf_token %}
            {% include 'components/table.html' %}
            <div class="d-grid gap-2 col-lg-6 mx-auto mt-2">
                <button class="btn btn-primary" onclick="return confirm_invite()">{% translate 'Confirm invite' %}</button>
            </div>
            {% block more_invites %}
                <div class="d-grid gap-2 col-lg-6 mx-auto mt-2">
                    <a href="{% url 'invite_friends' %}?type={{ application_type.name }}" class="btn btn-secondary">{% translate 'Group by friends' %}</a>
                </div>
            {% endblock %}
        </form>
        <script nonce="{{ request.csp_nonce }}">
            function select_all(source) {
                let selects = $('input[name="select"]')
                selects.prop('checked', source.checked);
                selects.change();
            }
            {% block count_application_number %}
                function get_invited_application_number() {
                    return $('input[name="select"]:checkbox:checked').length
                }
            {% endblock %}
            function confirm_invite() {
                let number_checked = get_invited_application_number()
                return confirm(number_checked + ' {% translate 'applications will be invited. Are you sure?' %}')
            }
            $(document).ready(() => {
                let spots = {{ application_type.spots }};
                let free_spots = spots - ({{ application_stats.accepted }} + {{ application_stats.invited }});
                let progress_bar = $('#progress-select')
                let accepted_to_pass_limit = false
                $('input[name="select"]').change((event) => {
                    let selected = get_invited_application_number()
                    if (selected > free_spots && !accepted_to_pass_limit) {
                        accepted_to_pass_limit = confirm('{% translate 'You have reached the limit. Do you want to continue?' %}')
                    }
                    if (selected <= free_spots || accepted_to_pass_limit) {
                        progress_bar.html(`${selected} of ${free_spots} selected`)
                        progress_bar.css('width', `${Math.min(((selected / spots) * 100), ((free_spots / spots) * 100))}%`)
                    } else {
                        $(event.target).prop('checked', false)
                    }
                    if (selected <= free_spots) accepted_to_pass_limit = false
                })
            })
        </script>
    {% endif %}
{% endblock %}
