{% extends 'base.html' %}
{% load i18n %}
{% load util %}
{% load perms %}

{% block subtitle %}{% translate 'Application detail' %}{% endblock %}

{% block head %}
    {% include 'components/import_barrating.html' %}
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
{% endblock %}

{% block content %}
    <div class="row justify-content-between mb-3">
        <div class="{% if application %}col-6{% else %}col-12{% endif %} col-lg-2 d-grid d-md-block">
            <a href="{% url 'application_list' %}?type={{ application.type.name|default:application_type }}" class="btn btn-secondary col-12">{% if votes %}<i class="bi bi-list-ul"></i> {% translate 'Applications' %}{% else %}<i class="bi bi-caret-left-fill"></i> {% translate 'Back' %}{% endif %}</a>
        </div>
        {% if application and not votes and perms.application.view_applicationlog %}
            <div class="col-6 col-lg-2 d-grid d-md-flex justify-content-md-end">
                <a href="{% url 'application_logs' application.get_uuid %}" class="btn btn-secondary col-12"><i class="bi bi-clipboard-check"></i> {% translate 'Logs' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-9">
            <h1>{% if votes %}{% translate 'Review application' %}{% else %}{{ application.user.get_full_name }}'s {{ application.type.name|lower }} application{% endif %}</h1>
        </div>
        <div class="col-3">
            {% if application.user.under_age %}
                {% if application.get_permission_slip is None %}
                    <p style="text-align: right" class="text-danger">{% translate 'Under age' %} <i class="bi bi-exclamation-triangle-fill"></i></p>
                {% else %}
                    <a href="{% url 'permission_slip' application.get_uuid %}" class="btn col-12 btn-{{ application.get_permission_slip.get_status_color }}">{% translate 'Permission slip' %}: {{ application.get_permission_slip.get_status_display }} <i class="bi bi-exclamation-triangle-fill"></i></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if application %}
        <div class="row mt-4">
            <div class="col-lg-7 border-end border-lg border-2 border-{% if theme == 'dark' %}light{% else %}dark{% endif %}">
                {% if not votes and perms|add_type:application.type.name|has_application_perm:'change_application' or application.status == application.STATUS_NEEDS_CHANGE and perms|add_type:application.type.name|has_application_perm:'can_review_dubious_application' %}
                    <div style="position: relative">
                        <a style="position: absolute; right: 0" href="{% url 'edit_application' application.get_uuid %}"><i  title="{% translate 'Edit application' %}" class="bi bi-pencil-square text-secondary"></i></a>
                    </div>
                {% elif votes and perms|add_type:application.type.name|has_application_perm:'view_application' %}
                    <div style="position: relative">
                        <a style="position: absolute; right: 0" href="{% url 'application_detail' application.get_uuid %}"><i  title="{% translate 'View application' %}" class="bi bi-link-45deg text-secondary"></i></a>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-3 fw-bold pb-3 text-lg-end text-break">{% translate 'Full name' %}</div>
                    <div class="col-lg-9 pb-3 text-break">{{ application.user.get_full_name }}</div>
                </div>
                {% if not vote %}
                    <div class="row">
                        <div class="col-lg-3 fw-bold pb-3 text-lg-end text-break">{% translate 'Email' %}</div>
                        <div class="col-lg-9 pb-3 text-break">{{ application.user.email }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-3 fw-bold pb-3 text-lg-end text-break">{% translate 'Status' %}</div>
                    <div class="col-lg-9 pb-3 text-break">
                        {% include 'tables/status.html' with record=application %}
                    </div>
                </div>
                {% if application.promotional_code %}
                    <div class="row">
                        <div class="col-lg-3 fw-bold pb-3 text-lg-end text-break">{% translate 'Promotion' %}</div>
                        <div class="col-lg-9 pb-3 text-break">
                            {% include 'tables/promotional_code.html' with record=application %}
                        </div>
                    </div>
                {% endif %}
                {% for name, data in details.items %}
                    {% if name not in icons.keys and data != '' %}
                        <div class="row">
                            <div class="col-lg-3 fw-bold pb-3 text-lg-end text-break">{{ name }}</div>
                            <div class="col-lg-9 pb-3 text-break">{{ data }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if icons.keys|length > 0 %}
                    <div class="row justify-content-evenly pt-3">
                        {% for name, data in details.items %}
                            {% if name in icons.keys and data != '' %}
                                <div class="col-6 col-lg-3 ">
                                    <a target="_blank" href="{{ data }}" class="text-decoration-none">
                                        <p style="text-align: center; display: inline-block; width: 100%; margin-bottom: 0" class="fs-1 fw-bold"><i class="{{ icons|get_item:name }}"></i></p>
                                        <p class="fw-bold" style="text-align: center">{{ name }}</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-5" id="comment-block">
                <h2>{% translate 'Comments' %}</h2>
                {% for log in comments %}
                    {% if log.comment %}
                        <div>
                            <div id="comment-block-{{ log.id }}">
                                <div class="row">
                                    <div class="col-11">
                                        <p class="m-0"><strong title="{{ log.user.get_full_name }}">{% if request.user != log.user %}{{ log.user.get_full_name }}{% else %}{{ request.user.get_full_name }}{% endif %}</strong>
                                            <small class="pull-right" style="color:gray">{{ log.date|timesince }} ago</small>
                                        </p>
                                        <p class="fs-5 mb-0 text-break" id="comment-text-{{ log.id }}">{{ log.comment }}</p>
                                        <p id="reactions-div-{{ log.id }}" class="m-0 mt-2">
                                            {% for emoji, reaction in log.get_grouped_reactions.items %}
                                                <span log="{{ log.id }}" style="cursor: pointer" class="reaction-item me-1 {% if request.user.id in reaction.users_id.keys %}active{% endif %} reaction border-1 border rounded-pill p-1 ps-2 pe-2 fs-6">
                                                    <em-emoji {% if request.user.id in reaction.users_id.keys %}reaction_id="{{ reaction.users_id|get_item:request.user.id }}"{% endif %} shortcodes="{{ emoji }}"></em-emoji>
                                                    <span id="count">{{ reaction.count }}</span>
                                                    <span class="bg-{{ theme }} reaction-popup p-2 mt-2 border-1 rounded">
                                                        {% for name in reaction.users_names %}
                                                            <span>{{ name }}<br></span>
                                                        {% endfor %}
                                                    </span>
                                                </span>

                                            {% endfor %}
                                            <span log="{{ log.id }}" style="cursor: pointer" class="reaction-add reaction border-1 border rounded-pill p-1 ps-2 pe-2 fs-6"><svg class="ms-1 me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M7 9.5C7 8.67 7.67 8 8.5 8s1.5.67 1.5 1.5S9.33 11 8.5 11S7 10.33 7 9.5zm5 8c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5zm3.5-6.5c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8S14 8.67 14 9.5s.67 1.5 1.5 1.5zM22 1h-2v2h-2v2h2v2h2V5h2V3h-2V1zm-2 11c0 4.42-3.58 8-8 8s-8-3.58-8-8s3.58-8 8-8c1.46 0 2.82.4 4 1.08V2.84A9.929 9.929 0 0 0 11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12c0-1.05-.17-2.05-.47-3H19.4c.38.93.6 1.94.6 3z"/></svg></span>
                                        </p>
                                    </div>
                                    <div class="col-1" style="text-align: right">
                                        {% if log.form and log.user == request.user or perms.application.change_applicationlog %}
                                            <i style="cursor: pointer" onclick="edit_comment('{{ log.id }}')" title="{% translate 'Edit comment' %}" class="bi bi-pencil-square text-secondary"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if log.form and log.user == request.user or perms.application.change_applicationlog %}
                                <div class="row" style="display: none" id="comment-form-{{ log.id }}">
                                    <div class="col-11">
                                        {% include 'components/comment_form.html' with form=log.form log_id=log.id %}
                                    </div>
                                    <div style="text-align: right" class="col-1"><i style="cursor: pointer" onclick="cancel_comment('{{ log.id }}')" class="bi bi-x-lg text-danger"></i></div>
                                </div>

                            {% endif %}
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}
                {% if perms.application.add_applicationlog %}
                    {% include 'components/comment_form.html' with form=comment_form %}
                {% endif %}
            </div>
            <div id="comment-template" style="display: none">
                <div>
                    <div id="comment-block-">
                        <div class="row">
                            <div class="col-11">
                                <p class="m-0"><strong title="{{ request.user.get_full_name }}">{{ request.user.get_full_name }}</strong>
                                    <small class="pull-right" style="color:gray">now</small>
                                </p>
                                <p class="fs-5 mb-0 text-break" id="comment-text-"></p>
                                <p id="reactions-div-" class="m-0 mt-2">
                                    <span id="span-reaction-log" style="cursor: pointer" class="reaction-add reaction border-1 border rounded-pill p-1 ps-2 pe-2 fs-6"><svg class="ms-1 me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M7 9.5C7 8.67 7.67 8 8.5 8s1.5.67 1.5 1.5S9.33 11 8.5 11S7 10.33 7 9.5zm5 8c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5zm3.5-6.5c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8S14 8.67 14 9.5s.67 1.5 1.5 1.5zM22 1h-2v2h-2v2h2v2h2V5h2V3h-2V1zm-2 11c0 4.42-3.58 8-8 8s-8-3.58-8-8s3.58-8 8-8c1.46 0 2.82.4 4 1.08V2.84A9.929 9.929 0 0 0 11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12c0-1.05-.17-2.05-.47-3H19.4c.38.93.6 1.94.6 3z"/></svg></span>
                                </p>
                            </div>
                            <div class="col-1" style="text-align: right">
                                <i style="cursor: pointer" id="comment-edit-comment" class="bi bi-pencil-square text-secondary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display: none" id="comment-form-">
                        <div class="col-11">
                            {% include 'components/comment_form.html' with form=comment_form log_id=0 %}
                        </div>
                        <div style="text-align: right" class="col-1"><i style="cursor: pointer" id="comment-cancel-comment" class="bi bi-x-lg text-danger"></i></div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <script nonce="{{ request.csp_nonce }}">
            function edit_comment(log_id) {
                let form_block = $(`#comment-form-${log_id}`)
                $(`#comment-block-${log_id}`).hide()
                form_block.show()
                form_block.find('textarea[name="comment"]').focus()
            }
            function cancel_comment(log_id) {
                $(`#comment-block-${log_id}`).show()
                $(`#comment-form-${log_id}`).hide()
            }
            function new_comment(data) {
                let template = $('#comment-template').clone(true)
                template.attr('id', '')
                template.find('#comment-block-').attr('id', `comment-block-${data.id}`)
                template.find('#comment-form-').attr('id', `comment-form-${data.id}`)
                template.find('#reactions-div-').attr('id', `reactions-div-${data.id}`)
                template.find('#span-reaction-log').attr('log', data.id)
                let text = template.find('#comment-text-')
                text.attr('id', `comment-text-${data.id}`)
                text.text(data.comment)
                template.find('#comment-edit-comment').attr('onclick',`edit_comment(${data.id})`)
                template.find('#comment-cancel-comment').attr('onclick',`cancel_comment(${data.id})`)

                let form = template.find('form')
                form.submit((event) => form_comment_submit(event))
                form.attr('action', `{% url 'new_comment' %}/${data.id}/`)
                form.find('textarea[name="comment"]').val(data.comment)
                template.show()
                $('form[action="{% url 'new_comment' %}"]').before(template)
            }
            function form_comment_submit(event) {
                let form = $(event.target)
                event.preventDefault()
                $.post(form.attr('action'), form.serialize()).done((data) => {
                    let text = $(`#comment-text-${data.id}`)
                    if (text.length > 0) {
                        text.text(data.comment)
                        cancel_comment(data.id)
                    } else {
                        new_comment(data)
                        form.find('textarea[name="comment"]').val('')
                    }
                })
            }
            $(document).ready(() => {
                let forms = $('#comment-block').find('form')
                forms.submit((event) => form_comment_submit(event))
                forms.find('textarea[name="comment"]').keypress((event) => {
                    if (event.which === 13) {
                        $(event.target).parents('form').submit()
                        return false
                    }
                })
                EmojiMart.init({ data: EmojiMart.data })
                let picker = null
                function add_reaction(log_id, emoji) {
                    $.post('{% url 'reaction' %}', {
                        action: 'CREATE',
                        emoji: emoji,
                        comment: log_id,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                    }, function(data) {
                        let reactions_div = $(`#reactions-div-${log_id}`)
                        let reaction = reactions_div.find(`em-emoji[shortcodes="${emoji}"`)
                        if (reaction.length !== 0) {
                            let reaction_parent = reaction.parent()
                            let reaction_count = reaction_parent.find('#count')
                            reaction_count.text(parseInt(reaction_count.text()) + 1)
                            reaction_parent.addClass('active')
                            reaction.attr('reaction_id', data.reaction_id)
                            reaction_parent.find('.reaction-popup').append('<span>{{ request.user.get_full_name }}<br></span>')
                        } else {
                            let new_emoji = $(`<span log="${log_id}" style="cursor: pointer" class="reaction-item me-1 active reaction border-1 border rounded-pill p-1 ps-2 pe-2 fs-6"><em-emoji reaction_id="${data.reaction_id}" shortcodes="${emoji}"></em-emoji> <span id="count">1</span><span class="bg-{{ theme }} reaction-popup p-2 mt-2 border-1 rounded"><span>{{ request.user.get_full_name }}<br></span></span></span>`)
                            $(`#reactions-div-${log_id} > .reaction-add`).before(new_emoji)
                            new_emoji.click(() => {delete_reaction(new_emoji.find('em-emoji'))})
                        }
                    }, 'json').fail(function() {
                        ToastManager.error('Server error')
                    })
                }
                function delete_reaction(reaction) {
                    $.post('{% url 'reaction' %}'.replace('0', ), {
                        reaction_id: reaction.first().attr('reaction_id'),
                        action: 'DELETE',
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                    }).done(function() {
                        let reaction_parent = reaction.parent()
                        reaction_parent.removeClass('active')
                        let reaction_count = reaction_parent.find('#count')
                        let count = parseInt(reaction_count.text()) - 1
                        if (count === 0) {
                            reaction_parent.remove()
                        } else {
                            reaction_count.text(count)
                            reaction_parent.find('.reaction-popup > span').filter((_, item) => {
                                return $(item).text() === '{{ request.user.get_full_name }}'
                            }).remove()
                        }
                    }).fail(function() {
                        ToastManager.error('Server error')
                    })
                }
                $('.reaction-item').click((event) => {
                    let target = $(event.currentTarget)
                    let emoji = target.find('em-emoji')
                    if (target.hasClass('active')) {
                        delete_reaction(emoji)
                    } else {
                        let code = emoji.attr('shortcodes')
                        let log_id = target.attr('log')
                        add_reaction(log_id, code)
                    }
                })
                $('.reaction-add').click((event) => {
                    if (picker === null || (!picker.is(event.target) && picker.has(event.target).length === 0)) {
                        let target = $(event.currentTarget)
                        const pickerOptions = {
                            data: EmojiMart.data,
                            onEmojiSelect: (emoji) => {
                                let log_id = target.attr('log')
                                let reactions_div = $(`#reactions-div-${log_id}`)
                                let reaction = reactions_div.find(`.active > em-emoji[shortcodes="${emoji.shortcodes}"]`)
                                if (reaction.length === 0) {
                                    add_reaction(log_id, emoji.shortcodes)
                                } else {
                                    delete_reaction(reaction)
                                }
                                picker.remove()
                            },
                            emojiButtonRadius: '6px',
                            emojiButtonColors: [
                              'rgba(155,223,88,.7)',
                              'rgba(149,211,254,.7)',
                              'rgba(247,233,34,.7)',
                              'rgba(238,166,252,.7)',
                              'rgba(255,213,143,.7)',
                              'rgba(211,209,255,.7)',
                            ],
                            theme: '{{ theme }}'
                        }
                        picker = $(new EmojiMart.Picker(pickerOptions))
                        picker.appendTo(target)
                    }
                })
                $(document).mouseup(function(event) {
                    if (picker !== null && !picker.is(event.target) && picker.has(event.target).length === 0) {
                        picker.remove()
                    }
                });
            })
        </script>
        <div class="mt-2">
            {% if votes %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="hidden" name="application_id" value="{{ application.pk }}"/>
                            <h2>{% translate 'Score' %}</h2>
                            <div class="row mb-3">
                                <div class="col-12 col-lg-3" style="display: flex; align-items: center; font-weight: bold"><p class="text-lg-end m-0" style="width: 100%">{% translate 'Technical Skills' %}</p></div>
                                <div class="col-12 col-lg-9 m-0">{% include 'components/vote_input.html' with name='tech_vote' %}</div>
                            </div>
                            <dl class="row mb-3">
                                <dt class="col-12 col-lg-3" style="display: flex; align-items: center; font-weight: bold"><p class="text-lg-end m-0" style="width: 100%">{% translate 'Personal Skills' %}</p></dt>
                                <dd class="col-12 col-lg-9 m-0">{% include 'components/vote_input.html' with name='pers_vote' %}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-lg-6 mx-auto mt-2">
                        <button class="btn btn-primary" type="submit">{% translate 'Send vote' %}</button>
                        <button class="btn btn-secondary" name="skip" value="skip" onclick="return confirm('{% translate "This option is placed in order to equality of votes in applications. Are you sure you know this person and want to skip? " %}')">{% translate 'Skip application' %}</button>
                    </div>
                </form>
                <script nonce="{{ request.csp_nonce }}" type="text/javascript">
                    $(document).ready(() => {
                        $('.barrating').barrating({
                            theme: 'bars-square',
                            showValues: true,
                            showSelectedRating: false
                        });
                    });
                </script>
            {% elif application.type.dubious_enabled and perms|add_type:application.type.name|has_application_perm:'can_review_dubious_application' and application.status == application.STATUS_DUBIOUS or application.status ==  application.STATUS_NEEDS_CHANGE %}
                <form method="post" class="mt-2">
                    <h3>{% if application.status == application.STATUS_DUBIOUS %}{% translate 'Dubious form' %}{% else %}{% translate 'Correction form' %}{% endif %}</h3>
                    {% csrf_token %}
                    {% include 'components/bootstrap5_form.html' with form=dubious_form %}
                    <div class="d-grid gap-2 col-lg-6 mx-auto mt-2">
                        {% if application.status != application.STATUS_NEEDS_CHANGE %}
                            <button class="btn btn-primary" name="status" value="{{ application.STATUS_NEEDS_CHANGE }}" onclick="return confirm('{% translate "This reason will be sent to the user. Are you sure?" %}')">{% translate 'Confirm dubious' %}</button>
                        {% endif %}
                        <button class="btn btn-secondary" name="status" value="{{ application.STATUS_PENDING }}" onclick="return confirm('{% translate "This reason will be stored as a comment and the application will be pending again. Are you sure?" %}')">{% if application.status == application.STATUS_DUBIOUS %}{% translate 'This is not dubious' %}{% else %}{% translate 'Not dubious anymore' %}{% endif %}</button>
                        <button class="btn btn-danger" name="status" value="{{ application.STATUS_INVALID }}" onclick="return confirm('{% translate "This reason will be sent to the user. Are you sure?" %}')">{% translate 'Invalid application' %}</button>
                    </div>
                </form>
            {% endif %}
            {% if application.type.blocklist and blocked_user %}
                <h2>{% translate 'Blocked user:' %}</h2>
                <ul>
                    <li><strong>{% translate 'Name:' %}</strong> {{ blocked_user.full_name }}</li>
                    <li><strong>{% translate 'Email:' %}</strong> {{ blocked_user.email }}</li>
                </ul>
            {% endif %}
            <div class="d-grid gap-2 col-lg-6 mx-auto mt-2">
                {% if application.type.dubious_enabled and application.status == application.STATUS_PENDING and perms|add_type:application.type.name|has_application_perm:'can_review_application' %}
                    <button class="btn btn-warning" onclick="mark_dubious()">{% translate 'Mark as dubious' %}</button>
                    <script nonce="{{ request.csp_nonce }}">
                        function mark_dubious() {
                            let comment = prompt("{% translate "Are you sure there's something wrong with this application? Add the reason" %}")
                            if (comment === null) return false
                            window.location.href = "{% url 'change_status_application' application.get_uuid application.STATUS_DUBIOUS %}?next={{ request.path }}&comment=" + encodeURIComponent('Dubious: ' + comment)
                        }
                    </script>
                {% endif %}
                {% if application.type.blocklist and application.status == application.STATUS_BLOCKED and perms|add_type:application.type.name|has_application_perm:'can_review_blocked_application' %}
                    <a class="btn btn-primary" href="{% url 'change_status_application' application.get_uuid application.STATUS_PENDING %}?next={{ request.get_path }}" onclick="return confirm('{% translate "This application will be unblocked. Are you sure?" %}')">{% translate 'This should not be blocked' %}</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <p class="text-center fs-4 mt-3">{% translate 'No applications left to be voted.' %}<br>{% translate 'Good job! Enjoy the sun outside!' %}</p>
    {% endif %}
{% endblock %}
