{% extends 'base.html' %}
{% load i18n %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.10.377/build/pdf.min.js"></script>
{% endblock %}
{% block subtitle %}{{ application.get_full_name }} {{ field_name }}{% endblock %}
{% block content %}
    <div id="content-pdf" style="width: 100%; text-align: center">

        <h1>{% translate 'File review' %}</h1>

        {% if application %}
            {% include 'components/pdf_preview.html' with pdf_link=download %}
            <form method="post">
                {% csrf_token %}
                <input name="field" value="{{ field }}" hidden>
                <input name="application" value="{{ application.get_uuid }}" hidden>
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-6 d-grid d-md-block">
                        <button class="btn btn-danger col-12" name="accepted" value="false">{% trans 'Discard file' %}</button>
                    </div>
                    <div class="col-12 col-lg-6 d-grid d-md-block mt-2 mt-lg-0">
                        <button class="btn btn-success col-12" name="accepted" value="true">{% trans 'Accept file' %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <h2>{% translate 'All files reviewed!' %}</h2>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 d-grid d-md-block">
                    <a class="btn btn-secondary col-12" href="{{ download }}">{% trans 'Download all' %}</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
