{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block subtitle %}{% translate 'Meals List' %}{% endblock %}


{% block content %}

    <h1 class="mt-3">{% translate 'Meals List' %}</h1>


    {% include 'components/table.html' %}

    <div class="row justify-content-around">
        <div class="col-12 col-lg-6 d-grid d-md-block mt-2 mt-lg-0">
            <a href="{% url 'create_meal' %}" class="btn btn-primary col-12">{% trans 'New meal' %}</a>
        </div>
    </div>


{% endblock %}
