<div id="socials-content">
    <table style="padding-top: 20px" cellpadding="0" cellspacing="0" border="0" align="center" class="apple-link">
        <tr>
            {% for name, info in app_socials.items %}
                {% with url=info.0 icon=info.1 %}
                    <td style="padding: 5px;">
                        <a role="button" href="{{ url }}" target="_blank" border="0" alt="Medium" style="border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; color: white; display: inline-block; outline: none; text-decoration:none; border: none; font-family: Helvetica, arial, sans-serif;">{{ name }}</a>
                    </td>
                    {% if forloop.counter|divisibleby:5 %}
                        </tr></table><table cellpadding="0" cellspacing="0" border="0" align="center" class="apple-link"><tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tr>
    </table>
</div>
