{% extends 'base.html' %}
{% load i18n %}
{% block full_title %}{{ app_name }}{% endblock %}
{% block content %}
    <div>
        <h1 style="text-align: center">{% blocktrans %}App for the application process of {{ app_hack }}{% endblocktrans %}</h1>
        <p>{% blocktrans %}This is the main application of {{ app_hack }}. From here you can apply as all the possible roles and participate to {{ app_hack }}. Please log in or register to continue.{% endblocktrans %}</p>
        <div class="d-grid gap-4 d-flex justify-content-around">
            <a class="btn btn-primary col-4" href="{% url 'login' %}">{% trans 'Log in' %}</a>
            <a class="btn btn-primary col-4" href="{% url 'register' %}">{% trans 'Register' %}</a>
        </div>

    </div>
{% endblock %}
